include "./cfg/animation.kdl"
include "./cfg/input.kdl"
include "./cfg/binds.kdl"
include "./cfg/misc.kdl"
include "./cfg/rules.kdl"

include "./dms/outputs.kdl"
include "./dms/colors.kdl"
include "./dms/layout.kdl"
include "./dms/cursor.kdl"
include "./dms/wpblur.kdl"
include "./dms/alttab.kdl"

include "./cfg/autostart.kdl"
